footer.footer
  .container
    .footer__top
      a.logo(href="/") 
        img(src='../assets/img/Logo.svg')
      nav.links
        li
          a(href="#coverage-map").link Покрытие
        li
          a(href="#brands").link Торговые марки
        li
          a(href="/news-page.html").link Новости
        li
          a(href="/vacancies-page.html").link Вакансии
        li
          a(href="/contacts-page.html").link Контакты
    .footer__bottom   
      .footer__bottom__wrap
        p.footer__bottom__description Основной офис:
        p.footer__bottom__value Бугаївська 21 Одеса, Україна, 65005
      .footer__bottom__wrap
        a(href="tel:+38 (048) 330 18 79").footer__bottom__value +38 (048) 330 18 79
        a(href="mailto:info@untp.com.ua").footer__bottom__value info@untp.com.ua
      .footer__bottom__wrap
        p.footer__bottom__description Режим работы:
        p.footer__bottom__value ежедневно с 8:00 до 20:00
      .footer__bottom__wrap
        p.footer__bottom__description All rights reserved
        p.footer__bottom__value untp.com © 2021
      .footer__bottom__wrap
        p.footer__bottom__descriptionby with love
        p.footer__bottom__value MantiCore development