header.header
  .container
    a.logo(href="/") 
      img(src='../assets/img/Logo.svg')
    nav.links
      li
        a.link Покрытие
      li
        a.link Торговые марки
      li
        a.link Новости
      li
        a.link Вакансии
      li
        a.link Контакты
    button.button-type-one Связаться  с нами







