extends ../layout/layout

block variables
  - var title = 'UNTP';
  - var description = 'News page';

block content
  section.news-page
    .container
      h2.news-page__title Новости
      .news-page__wrap
        .news-card
          img(src='../assets/img/containers.jpg')
          .wrap
          p.news-card__date <span>8</span> <span>сентября</span>, <span>21:33</span>
          p.news-card__title Торговая группа компаний
          p.news-card__text Являясь частью ТГ “Фортуна” и сотрудничая с лидерами в своих отраслях, UNTP обменивается с ними опытом и создает индивидуальные решения.
        .news-card
          img(src='../assets/img/containers.jpg')
          .wrap
            p.news-card__date <span>8</span> <span>сентября</span>, <span>21:33</span>
            p.news-card__title Торговая группа компаний
            p.news-card__text Являясь частью ТГ “Фортуна” и сотрудничая с лидерами в своих отраслях, UNTP обменивается с ними опытом и создает индивидуальные решения.
        .news-card
          img(src='../assets/img/containers.jpg')
          .wrap
            p.news-card__date <span>8</span> <span>сентября</span>, <span>21:33</span>
            p.news-card__title Торговая группа компаний
            p.news-card__text Являясь частью ТГ “Фортуна” и сотрудничая с лидерами в своих отраслях, UNTP обменивается с ними опытом и создает индивидуальные решения.
        .news-card
          img(src='../assets/img/containers.jpg')
          .wrap
            p.news-card__date <span>8</span> <span>сентября</span>, <span>21:33</span>
            p.news-card__title Торговая группа компаний
            p.news-card__text Являясь частью ТГ “Фортуна” и сотрудничая с лидерами в своих отраслях, UNTP обменивается с ними опытом и создает индивидуальные решения.
        .news-card
          img(src='../assets/img/containers.jpg')
          .wrap
            p.news-card__date <span>8</span> <span>сентября</span>, <span>21:33</span>
            p.news-card__title Торговая группа компаний
            p.news-card__text Являясь частью ТГ “Фортуна” и сотрудничая с лидерами в своих отраслях, UNTP обменивается с ними опытом и создает индивидуальные решения.
        .news-card
          img(src='../assets/img/containers.jpg')
          .wrap
            p.news-card__date <span>8</span> <span>сентября</span>, <span>21:33</span>
            p.news-card__title Торговая группа компаний
            p.news-card__text Являясь частью ТГ “Фортуна” и сотрудничая с лидерами в своих отраслях, UNTP обменивается с ними опытом и создает индивидуальные решения.
      button.news__link.button-type-one#news-page__button Показать ещё

