extends ../layout/layout

block variables
  - var title = 'UNTP';
  - var description = 'Vacancies page';

block content
  section.vacancies-page
    .container
      .vacancies-page__wrap
        h2.vacancies-page__title Вакансии
        p.vacancies-page__contacts Клачкова Крістіна Олександрівна HR- менеджер
        .vacancies-page__contacts
          a(href="tel:+38 (063)-804-40-70") тел: 063-804-40-70           
          a(href="mailto:k.klachkova@untp.com.ua") почта: k.klachkova@untp.com.ua
      .vacancies-page__wrap
        .vacancies-card
          .wrap
            h3.vacancies-card__title Логист оператор
            p.vacancies-card__text Повседневная практика показывает, что укрепление и развитие внутренней структуры выявляет срочную потребность инновационных методов управления процессами. Но тщательные исследования конкурентов являются только методом политического участия и объективно рассмотрены соответствующими инстанциями.
              <br>
              <br>Для современного мира понимание сути ресурсосберегающих технологий предоставляет широкие возможности для новых принципов формирования материально-технической и кадровой базы
            button.vacancies__link.button-type-one#vacancies-card__button Оставить резюме
        .vacancies-card
          .wrap
            h3.vacancies-card__title Логист оператор
            p.vacancies-card__text Повседневная практика показывает, что укрепление и развитие внутренней структуры выявляет срочную потребность инновационных методов управления процессами. Но тщательные исследования конкурентов являются только методом политического участия и объективно рассмотрены соответствующими инстанциями.
              <br>
              <br>Для современного мира понимание сути ресурсосберегающих технологий предоставляет широкие возможности для новых принципов формирования материально-технической и кадровой базы
            button.vacancies__link.button-type-one#vacancies-card__button Оставить резюме
        .vacancies-card
          .wrap
            h3.vacancies-card__title Логист оператор
            p.vacancies-card__text Повседневная практика показывает, что укрепление и развитие внутренней структуры выявляет срочную потребность инновационных методов управления процессами. Но тщательные исследования конкурентов являются только методом политического участия и объективно рассмотрены соответствующими инстанциями.
              <br>
              <br>Для современного мира понимание сути ресурсосберегающих технологий предоставляет широкие возможности для новых принципов формирования материально-технической и кадровой базы
            button.vacancies__link.button-type-one#vacancies-card__button Оставить резюме
        .vacancies-card
          .wrap
            h3.vacancies-card__title Логист оператор
            p.vacancies-card__text Повседневная практика показывает, что укрепление и развитие внутренней структуры выявляет срочную потребность инновационных методов управления процессами. Но тщательные исследования конкурентов являются только методом политического участия и объективно рассмотрены соответствующими инстанциями.
              <br>
              <br>Для современного мира понимание сути ресурсосберегающих технологий предоставляет широкие возможности для новых принципов формирования материально-технической и кадровой базы
            button.vacancies__link.button-type-one#vacancies-card__button Оставить резюме
        .vacancies-card
          .wrap
            h3.vacancies-card__title Логист оператор
            p.vacancies-card__text Повседневная практика показывает, что укрепление и развитие внутренней структуры выявляет срочную потребность инновационных методов управления процессами. Но тщательные исследования конкурентов являются только методом политического участия и объективно рассмотрены соответствующими инстанциями.
              <br>
              <br>Для современного мира понимание сути ресурсосберегающих технологий предоставляет широкие возможности для новых принципов формирования материально-технической и кадровой базы
            button.vacancies__link.button-type-one#vacancies-card__button Оставить резюме
        .vacancies-card
          .wrap
            h3.vacancies-card__title Логист оператор
            p.vacancies-card__text Повседневная практика показывает, что укрепление и развитие внутренней структуры выявляет срочную потребность инновационных методов управления процессами. Но тщательные исследования конкурентов являются только методом политического участия и объективно рассмотрены соответствующими инстанциями.
              <br>
              <br>Для современного мира понимание сути ресурсосберегающих технологий предоставляет широкие возможности для новых принципов формирования материально-технической и кадровой базы
            button.vacancies__link.button-type-one#vacancies-card__button Оставить резюме
