.footer{
    background-color: $gray;
    .container{
        padding-top: 30px ;
        padding-bottom: 30px ;
    }
    &__top{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $darkGray;
        padding-bottom: 30px;
    }
    &__bottom{
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        &__wrap{
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
        &__value{
            line-height: 24px;
            color: black;
        }
        &__description{
            line-height: 24px;
            color: $darkGray;
        }
    }
}