
block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(http-equiv="X-UA-Compatible" content="ie=edge, chrome=1") 
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
    link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")


  body(class=pageClass)
    .preloader
      <svg class="preloader__image"  role="img" width="400" height="143" viewBox="0 0 400 143" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M351.184 98.26L370.277 131.359L357.383 138.83L338.37 105.842C343.131 104.259 347.498 101.674 351.178 98.26H351.184ZM386.617 114.963L394.058 102.06L360.878 82.8753C359.384 87.6747 356.88 92.0975 353.534 95.845L386.617 114.963ZM361.667 64.9039V64.6894H400V79.596H361.728C362.728 74.7408 362.701 69.7296 361.649 64.8856L361.667 64.9039ZM353.247 48.6917L386.292 29.5742L393.734 42.4827L360.731 61.5634C359.182 56.7871 356.63 52.3982 353.247 48.6917ZM370.014 13.3988L357.163 5.94549L338.113 38.946C342.881 40.4899 347.263 43.0399 350.964 46.4239L370.014 13.3988ZM319.895 0H334.778V38.0512C329.873 36.9928 324.8 36.9928 319.895 38.0512V0ZM285.014 13.3498L297.895 5.89646L316.866 38.8357C312.076 40.3326 307.663 42.8407 303.923 46.191L285.014 13.3498ZM301.641 48.4527L268.999 29.5742L261.564 42.4827L293.997 61.2508C295.599 56.4851 298.206 52.1203 301.641 48.4527ZM291.8 109.103V109.661H292.271V109.593H324.338V141.736H291.8V141.803H259.703V76.9543H291.8V109.103ZM311.285 56.1267H343.376V88.263H311.285V56.1267Z" fill="#2C287D"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M193.618 93.3871C194.554 93.332 195.503 93.3013 196.47 93.3013H196.458C198.228 93.289 199.996 93.4182 201.745 93.6875C203.167 93.8861 204.539 94.3497 205.79 95.0543C206.864 95.672 207.749 96.573 208.348 97.6593C208.988 98.9258 209.296 100.335 209.241 101.754C209.241 105.174 208.079 107.503 205.747 108.76C203.414 110.01 199.946 110.635 195.344 110.635H191.17V93.5587C191.868 93.5036 192.682 93.4423 193.618 93.3871ZM215.893 86.6019C211.173 83.5004 204.411 81.9497 195.607 81.9497H195.619C193.171 81.9497 190.322 82.0539 187.07 82.2623C183.988 82.4807 180.923 82.8901 177.891 83.4882V141.785H191.189V121.975H195.362C204.219 121.983 211.034 120.407 215.808 117.249C220.581 114.09 222.968 108.954 222.968 101.84C222.972 94.7826 220.614 89.7034 215.893 86.6019ZM100.748 141.797C96.9416 135.022 92.8232 128.335 88.3926 121.736C84.0379 115.236 79.314 108.992 74.2442 103.035V141.797H61.1178V82.6302H71.9433C73.8158 84.5098 75.8883 86.8165 78.1607 89.5502C80.4331 92.2839 82.7504 95.1995 85.1125 98.2968C87.4706 101.398 89.8144 104.614 92.1439 107.944C94.4734 111.275 96.6601 114.476 98.704 117.549V82.6118H111.916V141.779L100.748 141.797ZM23.9538 142.992C20.2965 143.076 16.6553 142.482 13.214 141.239C10.3942 140.198 7.84455 138.535 5.75423 136.373C3.77014 134.255 2.28542 131.718 1.40935 128.95C0.441366 125.871 -0.0336838 122.658 0.00185607 119.431V82.6547H13.2996V118.297C13.2514 120.37 13.5239 122.437 14.1074 124.426C14.5523 125.933 15.3069 127.33 16.3227 128.527C17.2414 129.567 18.4169 130.347 19.7313 130.789C21.1485 131.257 22.6329 131.489 24.1251 131.475C27.3644 131.475 29.9917 130.478 32.0071 128.484C34.0225 126.49 35.0424 123.104 35.0669 118.328V82.6302H48.3463V119.406C48.3829 122.651 47.8951 125.88 46.9021 128.968C45.999 131.758 44.4829 134.309 42.4654 136.434C40.3424 138.611 37.7482 140.269 34.8833 141.282C31.3699 142.496 27.6693 143.075 23.9538 142.992ZM169.366 82.6301V93.9879H151.552V141.797H138.255V93.9879H120.441V82.6301H169.366Z" fill="#2C287D"/>
      </svg>

    .wrapper
      include ../includes/modules/header
      .content-wrapper
        block content
      include ../modals/news-modal
      include ../modals/contact-modal
      include ../modals/cv-modal
      include ../includes/modules/footer

    block script 